.body{
    margin:0;
    padding:0;
    text-align: center;
}
.box-1 {
   height:90px;
   background-color: rgb(203, 207, 207);
 
}
.p{
    height:20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin-bottom: -15px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
}
.p-1{
    height:20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    margin-bottom: -15px;
    float: right;
    margin-right: 617px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
    
}
.p-2{
    height:20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    margin-left: 617px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);    
}
.p-3{
    height:20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width:200px;
    border-radius: 2px;
    margin-top: -15px;
    margin-left:250px;
    padding: 10px 20px -50;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
}
.p-4 {
    padding: 20px 10px -20px;
    margin-top: -20px;
    
}
.p-5{
    padding: 10px 20px -50px;
}
.p-6{
    background-color:rgb(255, 255, 255); 
    padding: 20px 10px -30px;
    height:20px;
    width:70px;
    margin-top: -15px;
    margin-left:270px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.59);
}
.p-7{
    margin-top: -25px;
    margin-left: -50px;
}
.p-8{
    margin-top: -35px;
    margin-left: 50px;
}
.box-2 {
 width:500px;
 height:95px;
 background-color:aqua;
 margin-bottom:-10px;
 margin-top: 3px;
 float: left;

}

.box-3 {
    width:300px;
    height:95px;
    background-color:aqua;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}
.box-4{
    width:730px;
    height:95px;
    background-color:aqua;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
  padding-bottom: -20px;

}




